@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

@import url(./general.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
  background: rgb(12,144,115);
    background: linear-gradient(180deg, rgba(12,144,115,1) 0%, rgb(4, 92, 73) 100%);
}
.wrapper {
    
  min-height: 90vh;

  max-width: 100%;
  margin: 0!important;
  border-radius: 1rem;
}
.dark,
.input:focus {
  background-color: #222;
}
.navbarr {
  padding: 1rem;
  border-radius: 1rem;
}
.navbarr .navbarr-brand {
  font-size: 30px;
}
#income {
  border-right: 1px solid #bbb;
}
.notify {
  display: none;
}
.nav-item .nav-link .fa-bell-o,
.fa-long-arrow-down,
.fa-long-arrow-up {
  padding: 10px 10px;
  background-color: #444;
  border-radius: 50%;
  position: relative;
  font-size: 18px;
}
.nav-item .nav-link .fa-bell-o::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ffc0cb;
  right: 10px;
  top: 10px;
}
.nav-item input {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 3px 8px;
  width: 75%;
  color: #eee;
}
.nav-item .fa-search {
  font-size: 18px;
  color: #bbb;
  cursor: pointer;
}
.navbarr-nav:last-child {
  display: flex;
  align-items: center;
  width: 40%;
}
.navbarr-nav .nav-item {
  padding: 0px 0px 0px 10px;
}
.navbarr-brand p {
  display: block;
  font-size: 14px;
  margin-bottom: 3px;
}
.text {
  color: #bbb;
}
.money {
  font-family: "Lato", sans-serif;

}
.fa-long-arrow-down,
.fa-long-arrow-up {
  padding-left: 12px;
  padding-top: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 100;
  color: #28df99;
}
.fa-long-arrow-up {
  color: #ffa500;
}
.nav.nav-tabs {
  border: none;
}
.nav.nav-tabs .nav-item .nav-link {
  color: #bbb;
  border: none;
}
.nav.nav-tabs .nav-link.active {
  background-color: #222;
  border: none;
  color: #fff;
  border-bottom: 4px solid #fff;
}
.nav.nav-tabs .nav-item .nav-link:hover {
  border: none;
  color: #eee;
}
.nav.nav-tabs .nav-item .nav-link.active:hover {
  border-bottom: 4px solid #fff;
}
.nav.nav-tabs .nav-item .nav-link:focus {
  border-bottom: 4px solid #fff;
  color: #fff;
}
.table{
    min-height: 50vh;
    padding: 1rem;
}
.table-dark {
  background-color: #222;
}
.table>:not(caption)>*>* {
    
    background-color: transparent;
 
}
.table thead th {
  text-transform: uppercase;
  color: #bbb;
  font-size: 12px;
}
.table thead th,
.table td,
.table th {
  border: none;
  overflow: auto auto;
}
td .fa-briefcase,
td .fa-bed,
td .fa-exchange,
td .fa-cutlery {
  color: #ff6347;
  background-color: #444;
  padding: 5px;
  border-radius: 50%;
}
td .fa-bed,
td .fa-cutlery {
  color: #40a8c4;
}
td .fa-exchange {
  color: #b15ac7;
}
tbody tr td .fa-cc-mastercard,
tbody tr td .fa-cc-visa {
  color: #bbb;
}
tbody tr td.text-muted {
  font-family: "Lato", sans-serif;
}
tbody tr td .fa-long-arrow-up,
tbody tr td .fa-long-arrow-down {
  font-size: 12px;
  padding-left: 7px;
  padding-top: 3px;
  height: 20px;
  width: 20px;
}
.results span {
  color: #bbb;
  font-size: 12px;
}
.results span b {
  font-family: "Lato", sans-serif;
}
.pagination .page-item .page-link {
  background-color: #444;
  color: #fff;
  padding: 0.3rem 0.75rem;
  border: none;
  border-radius: 0;
}
.pagination .page-item .page-link span {
  font-size: 16px;
}
.pagination .page-item.disabled .page-link {
  background-color: #333;
  color: #eee;
  cursor: crosshair;
}
@media (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    margin: auto;
  }
  .navbarr-nav:last-child {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
  }
  .notify {
    display: inline;
  }
  .nav-item .fa-search {
    padding-left: 10px;
  }
  .navbarr-nav .nav-item {
    padding: 0px;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .wrapper {
    margin: auto;
  }
  .navbarr-nav:last-child {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
  }
  .notify {
    display: inline;
  }
  .nav-item .fa-search {
    padding-left: 10px;
  }
  .navbarr-nav .nav-item {
    padding: 0px;
  }
  #income {
    border: none;
  }
}
@media (max-width: 400px) {
  .wrapper {
    padding: 10px 15px;
    margin: auto;
  }
  .btn {
    font-size: 12px;
    padding: 10px;
  }
  .nav.nav-tabs .nav-link {
    padding: 10px;
  }
}

@media (max-width: 520px) {

    .navbarr {
        gap: 1rem;
        flex-direction: column!important;
    }

    .row.mt-2.pt-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .wrapper.rounded {
        padding: 0!important;
        max-width: 100%;
    }
 
  }
